.scraper-form-container {
  padding: 1em;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.form-popover {
  width: 100%;
}

.form-popover-content {
  padding: 1em;
  color: #ce0000;
}
