.comment-table-component {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 10pt;
}

.comment-table-component .react-grid-HeaderCell {
  height: 30px;
}

.comment-table-row {
  padding: 0;
  border-bottom: 1px solid #ddd;
}
