.scraper-header {
  width: 100%;
  overflow: hidden;
  min-height: 50px;
}

.scraper-header-logo-container {
  width: 50px;
  background: #00629e;
  font-size: 20pt;
  text-align: center;
}

.scraper-header-logo-container > div {
  height: 100%;
}

.scraper-header-logo-container .logo {
  color: #fff;
}

.scraper-header-logo-container a {
  text-decoration: none
}

.scraper-header-logo-container a:hover {
  text-decoration: none
}


.scraper-header-main {
  border-bottom: 1px solid #ccc;
}
