.scrape-progress-box {
  padding: 0.5em;
  padding-top: 0.8em;
}

.progress-text {
  padding-top: 0.5em;
  text-align: center;
  font-size: 9pt;
}

.dismiss-button-container {
  padding-left: 0.5em;
}
