.scrape-progress {
  position: relative;
  border-bottom: 1px solid #dedede;
}

.scrape-progress-box {
  padding: 0.5em;
}

.progress-text {
  height: 2em;
  padding: 0.2em;
  text-align: center;
  font-size: 9pt;
}

.dismiss-button-container {
  position: absolute;
  left: 0.3em;
}
