.scraper-header {
  width: 100%;
  overflow: hidden;
  min-height: 50px;
  border-bottom: 1px solid #ccc;
}

.scraper-header-logo-container {
  width: 50px;
  background: #00629e;
  color: #fff;
  font-size: 20pt;
  text-align: center;
}

.scraper-header-logo-container > div {
  height: 100%;
}

.scraper-header-main {

}
