.scraper-toolbar-component {
  padding: 0.2em;
  background: #f8f8f8;
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #f3f3f3 100%);
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f3f3f3 100%);
  background: linear-gradient(to bottom,  #f8f8f8 0%,#f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3f3f3',GradientType=0 );
}

.scraper-toolbar-spinner {
  padding-left: 0.5em;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}
