.video-info {
  margin-top: 0.2em;
  width: 100%;
}

.video-title {
  margin: 0;
  padding: 0.3em 0;
  cursor: pointer;
}

.expand-info-button {
  color: #888;
  padding-right: 0.3em;
  cursor: pointer;
}

.video-title:hover .expand-info-button {
  color: #333;
  text-decoration: none;
}

.video-title:hover a {
  text-decoration: underline;
}

.video-details {
  margin-top: 0.2em;
}

.video-info-box {
  padding-left: 1em;
}

.video-info-item {
  margin-top: 0;
  margin-bottom: 0.2em;
  color: #333;
  font-size: 10pt;
}

.video-info-box hr {
  margin: 0.3em 0;
  padding: 0;
}

.video-description-html {
  width: 100%;
  font-size: 10pt;
  max-height: 6.5em;
  overflow-y: auto;
}

.video-thumb {
  width: 246px;
  height: 138px;
  margin: 0 auto;
}
