.comment-table-component {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 10pt;
}

.comment-table-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.comment-table-cell .public_fixedDataTableCell_cellContent {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.comment-table-cell .fixedDataTableCellLayout_wrap3 {
  padding: 0;
  margin: 0;
}
