.comment-table-component {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 10pt;
}

.comment-table-component .react-grid-Header {
  background-color: #efefef;
}

.comment-table-component .react-grid-HeaderCell {
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;

  background-color: #efefef;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #dddddd;
}

.comment-table-component .react-grid-Row > .react-grid-Cell:nth-child(1) {
  background: #efefef;
  text-align: right;
}
